* { margin: 0; padding: 0; }


#containerRuta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border:1px solid;
    background-color: #e4e3e4;
  }
  
  #resultadoRuta {
    background-color: rgb(41, 84, 89);
    width: 100px;
    height: 100px;
    margin: 10px;
  margin-left:auto; margin-right:0;
  
  }