{{define "inicio"}}
{{template "cabeza"}}
<!--<input type="button" value="Pinchame y verás" onclick="stopDefAction();" />  -->
<a class="btn btn-primary" href="/factura" role="button">Verificaciòn de facturas</a>

<!--
     <table class="table table-dark">
        <thead>
          <tr>
            <th scope="nom">Ruta</th>
            <th scope="Contenedor">Contenedor</th>
            <th scope="Ruta">Ruta</th>
          </tr>
        </thead>
        <tbody>
        {{range.}}
            <tr>
               <th scope="row">1</th>
               <td>{{.ContenedorStru}}</td>
               <td>{{.RutaStru}}</td>
            </tr>
         {{end}}
        </tbody>
      </table>
    -->   
  {{template "pie"}}
{{end}}