{{define "facturas"}}
{{template "cabeza"}}
         <!--
         <a class="btn btn-primary" href="/inicio" role="button">Link</a>
         <form role="form" method="post" >
                   <select name="forma" id="rutascaner" onchange="location = this.options[this.selectedIndex].value;">
                      {{range.}}
                             <option value="/scanerfacta?id={{.Rutas}}">{{.Rutas}}</option>
                      {{end}}        
                  </select>
          </form>    
         -->
          <form action="/scanerfacta" method="get">
            <label for="browser">Ruta a verificar:</label>
            <input list="browsers" name="browser" id="browser">
            <datalist id="browsers">
               {{range.}}

              <option value="{{.Rutas}}">
               {{end}}
            </datalist>
            <input type="submit">
          </form>
          
          
         
{{template "pie"}}
{{end}}